<%inherit file="base.html" />
<div class="introduction">
<img src="/sitemedia/images/intro_sample.png" alt="intro sample" />
<div class="introductiontxt">
Equinox is small and very portable desktop environment
designed to be very lightweight in memory and resource
usage.<br /><br />

With this in mind, you can run it on very old
hardware and various devices, but this doesn't mean you
can't put it on the latest technology ;-)
<br /><br />
<a href="/page/download" class="button"><div class="buttontxt">Download EDE</div></a>
</div></div>
${content}

<a href="/page/old-news">older news &raquo;</a>
