<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- powered with Bootstrap (http://twitter.github.com/bootstrap) and Cerulean (http://bootswatch.com/cerulean) -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>EDE desktop environment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Light desktop environment for UNIX operating systems" />
  <meta name="keywords" content="ede, equinox, ede desktop, ede desktop environment, ede screenshots, equinox screenshots, equinox desktop environment, equinox themes, desktop environment, linux desktop, freebsd desktop, desktop fltk, window manager, x11, linux, ede, FLTK, eFLTK" />
  <meta name="author" content="ede-team">
  <link rel="icon" href="img/favicon.ico" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/docs.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="jumbotron subhead" id="overview">
      <h1>EDE</h1>
      <p class="lead">small and fast desktop environment</p>
    </div>
    <br/><br/>

    <div class="row">
      <div class="span4">
        <p style="font-size: 110%;">
          EDE is small desktop environment built to be responsive, light in resource usage and to have
          familiar look and feel. It runs on Linux, *BSD, Solaris, Minix, Zaurus and even on XBox.
        </p>
        <br/>
        <p>
          <a class="btn btn-success btn-large" href="http://equinox-project.org/wiki/Download">Download version 2.0</a>
        </p>
        <p>
          or you can <a href="http://sourceforge.net/projects/ede/files">browse</a> for older releases.
        </p>
      </div>

      <div class="span8" style="text-align: center;">
        <img src="img/main.png" />
      </div>
    </div> <br/><br/>

    <div class="row">
      <div class="span6">
        <div class="alert alert-info">
          <strong>News:</strong> <a href="/news"><?news-title?></a>
        </div>
      </div>

      <div class="span6">
        <div class="alert alert-info">
          <strong>Blog:</strong> <a href="<?devlog-item-link?>"><?devlog-item?></a>
        </div>
      </div>
    </div>

    <ul class="breadcrumb" style="text-align:center;">
      <li class="active"><a href="/">Home</a> <span class="divider">|</span></li>
      <li><a href="#">News Archive</a> <span class="divider">|</span></li>
      <li><a href="http://equinox-project.org/wiki/AboutEde">About</a> <span class="divider">|</span></li>
      <li><a href="#">Gallery</a> <span class="divider">|</span></li>
      <li><a href="http://equinox-project.org/wiki">Wiki</a> <span class="divider">|</span></li>
      <li><a href="http://sanelz.blogspot.com">Blog</a> <span class="divider">|</span></li>
      <li><a href="http://bugs.equinox-project.org">Report a bug</a></li>
    </ul>

    <footer class="footer">
      <p class="pull-right">copyright &copy; ede team 2002-2012</p>
      <a href="http://sourceforge.net/projects/ede">
        <img src="http://sflogo.sourceforge.net/sflogo.php?group_id=49891&type=12" width="120" height="30" border="0"
           alt="Get Equinox Desktop Environment at SourceForge.net. Fast, secure and Free Open Source software downloads" />
      </a>
      &nbsp;
      <a href="http://www.sohlius.com"><img src="http://equinox-project.org/sitemedia/images/sohlius.png" border="0" alt="Sohlius.com Logo" /></a>
    </footer>
  </div><!-- container -->
</body>
</html>
