    <ul class="breadcrumb" style="text-align:center;">
      <li class="active"><a href="/">Home</a> <span class="divider">|</span></li>
      <li><a href="/news">News Archive</a> <span class="divider">|</span></li>
      <li><a href="http://equinox-project.org/wiki/AboutEde">About</a> <span class="divider">|</span></li>
      <li><a href="/screenshots">Gallery</a> <span class="divider">|</span></li>
      <li><a href="http://equinox-project.org/wiki">Wiki</a> <span class="divider">|</span></li>
      <li><a href="http://sanelz.blogspot.com">Blog</a> <span class="divider">|</span></li>
      <li><a href="http://bugs.equinox-project.org">Report a bug</a></li>
    </ul>

    <footer class="footer">
      <p class="pull-right">copyright &copy; ede team 2002-2012</p>
      <a href="http://sourceforge.net/projects/ede">
        <img src="http://sflogo.sourceforge.net/sflogo.php?group_id=49891&type=12" width="120" height="30" border="0"
           alt="Get Equinox Desktop Environment at SourceForge.net. Fast, secure and Free Open Source software downloads" />
      </a>
      &nbsp;
      <a href="http://www.sohlius.com"><img src="http://equinox-project.org/sitemedia/images/sohlius.png" border="0" alt="Sohlius.com Logo" /></a>
    </footer>
  </div><!-- container -->
</body>
</html>
