[General]
# what version this config requires; if is larger than the current script, the script will
# report it and quit (optional)
requires = 1.2

# url for patches (mandatory)
patches = http://equinox-project.org/patches

# mirror url list (mandatory)
mirrors = http://heanet.dl.sourceforge.net/sourceforge/ede
          http://superb-east.dl.sourceforge.net/sourceforge
          http://mesh.dl.sourceforge.net/sourceforge/ede

# order of modules is order how things are compiled; each entry must have own section below (mandatory)
modules = efltk, ede

[ede]
# package name
package  = "ede-1.1.tar.bz2"

# md5 sum
checksum = "acb1a82ac79ee2000bf50b204d81ab89"

# patch name for this module; downloaded from 'patches/patch'
# patch = 

# building in form of sequence of commands
build = ["./configure --prefix=${PREFIX}", "make", "make install"]

[efltk]
package  = "efltk-2.0.6.tar.bz2"
checksum = "125c1deade9da94453758fa3cdac1c6a"
patch    = "gcc432.patch"
build    = ["./configure --disable-unixODBC --disable-mysql --prefix=${PREFIX}", "make", "make install"]
