/* ede's css style */
/* css mess by Sanel Z. */

body
{
	background: #5a6668;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	font-size: small;
	
	/* for centered content (not supported by explorer) */
	width: 760px;
}

#container
{
	background: white;
	/*border: 1px solid black; */
}


/* =top header
********************************/
#top
{
	background: #d4d7b6;
	background-image: url(../images/gradient.gif);
	background-repeat: repeat-x;
}

#title
{
	padding: 15px;
	height: 80px;
	text-align:left;
}

#toplinks
{
	text-align: right;
	font-family: "Lucida Grande", verdana, sans-serif;
	font-size: 85%;
	border-bottom: 2px solid #dddddd; 
}

#toplinks ul
{
	margin: 0 0 3px 0;
	padding: 0;
	list-style-type: none;
}

#toplinks ul li
{
	display: inline;
}

#toplinks ul li a
{
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
}

#toplinks li a 
{
	color: #5a6668;
	font-weight: bold;

	/* explorer 5.00 bugfix */
	/*width: 0; */
}

#toplinks li a:hover
{
	border-bottom: 3px solid #5a6668;
	padding-bottom: 3px;
}

#toplinks li a.active
{
	border-bottom: 3px solid green;
	padding-bottom: 3px;
	color: #2e3435;
}


/* =left bar
*******************************/
#leftbar
{
	float: left;
	margin: 10px 0 0 5px;
	border: 1px solid #dddddd;
	width: 15%;
}

#leftbar ul
{
	font-family: "Lucida Grande", verdana, sans-serif;
	/*font-size: 11px/20px;*/
	font-size: 85%;
	padding: 0;
	margin-left: 12%;
}

#leftbar li
{
	
	list-style-type: none;
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .6em;
	padding-left: 10px;
	padding-bottom: 3px;
	margin-left: 0;
}

#leftbar a
{
	text-decoration: none;
	color: black;
}

#leftbar a:hover
{
	text-decoration: underline;
	color: #454bc5;
}

#leftbar h3
{
	padding: 3px 2px 2px 8px;
	margin: 1px;
	font-family: verdana,sans-serif;
	font-size: 85%;
	border-bottom:1px gray solid ;
	font-style: normal; color: black;
	background: #d8ddc3;
	color: #5a6668;
}



/* =content
****************************/

#content
{
	margin-left: 18%;
	margin-right: 2%;
	margin-top: 10px;
	margin-bottom: 0;
	padding: 10px;
	font-family: verdana, sans-serif;
	font-size: 95%;
}


#content h1
{
	font-family: verdana, sans-serif;
	font-size: 110%;
	color: gray;
	border-bottom:2px solid #dddddd;
}

#content h2
{
	font-family: verdana, sans-serif;
	font-size: 110%;
	color: gray;
}

#content li
{
	list-style-type: square;
}

#content hr
{
	border: 1px solid gray;
	height: 1px; 
}


#content pre
{
	border: 1px dotted #3f8220;
	background: #efefef;
	font-family: verdana, sans-serif;
	font-size : 85%;
	padding: 5px;
}


#content img
{
	border: 1px solid #dddddd;
	padding: 3px;
}


#content .dotplan
{
	border: 1px solid #dddddd;
	padding: 10px;
}


/* =bottom
****************************/
#bottom
{
	clear: both;
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* =introduction part
****************************/
.introduction
{
	/* height for introduction part */
	height: 180px;
	padding: 5px;
	font-size: 100%;
	color: gray;
}

.introduction img
{
	float: right;	
	border: 1px solid gray;
	padding: 3px;
	margin-left: 8%;
}

/* =theme part
******************************/
.themes
{
	height: 180px;
	font-size: inherit;
}

.themes img
{
	float: right;	
	border: 1px solid gray;
	padding: 3px;
	margin-left: 8%;
}

.themes h1 
{
	font-size: 110% !important;
	color: gray !important;
	border-bottom: 1px solid #dddddd !important;
}

.themes h2
{
	font-size: 85% !important;
	color: gray !important;
}


/* =gallery part
******************************/
.gallery
{
	text-align: left;
}

.gallery img
{
	margin: 0.1em;
}


/* =various
****************************/
a
{
	color: #6b6fc1;
}

.hidden
{
	display: none;
}

