include(`screenshots.m4')

BEGIN
TITLE(EDE on Minix 3 and sXb (Slackware based distro for Xbox))

THUMB(minix3.png)
THUMB(sxb.png)

TITLE(1.0.2 screenshots with xft support)

THUMB(102shot_xft.png)	
THUMB(102shot_xft1.png)
THUMB(102shot_xft2.png)
THUMB(102shot_xft3.png)

TITLE(1.0.2 version shots without xft)

THUMB(102shot.png)	
THUMB(102shot1.png)

TITLE(Shots from 1.0.1 version)

THUMB(101shot.png)	
THUMB(101shot1.png)
THUMB(101shot2.png)	
THUMB(101shot3.png)

TITLE(Some screenshots from old 1.0 version)

THUMB(10shot.png)	
THUMB(10shot1.png)
END
