include(`themes.m4')
THEME(
	TITLE(brux)
	IMG(brux)
	Author: karijes

	ABOUT
	brux is... [[(b)roken c(rux),]] "little" modified crux theme.

	DOWNLOAD(brux)
)


THEME(
	TITLE(classic)
	IMG(classic)
	Author: karijes

	ABOUT
	Small mod of Gnome's ITALIC(Classic Theme). Author of Gnome part is JOhn.

	DOWNLOAD(classic)
)


THEME(
	TITLE(classic2)
	IMG(classic2)
	Author: karijes
	
	ABOUT
	Little mod of classic theme. Original idea by patri0z and his NCL Classic.
	Nothing spectacular.

	DOWNLOAD(classic2)
)


THEME(
	TITLE(EdeAirLock)
	IMG(EdeAirlock)
	Author: EddieX

	ABOUT
	p0ng made this theme available on pekwm by porting it from WindowsBlinds.
	And i have ported it to EDE :[[)]]

	DOWNLOAD(EdeAirlock)
)


THEME(
	TITLE(EdeBox)
	IMG(EdeBox)
	Author: Johan Wistrom

	ABOUT
	---

	DOWNLOAD(classic2)
)


THEME(
	TITLE(EdeDetroit)
	IMG(EdeDetroit)
	Author: EddieX

	ABOUT
	Port of stonedbeaver's Detroit theme for pekwm.

	DOWNLOAD(EdeDetroit)
)


THEME(
	TITLE(EDE-Linther)
	IMG(EDE-Linther)
	Author: Ed B.

	ABOUT
	[[OSX Panther-like theme, originally from Fluxbox.]]

	DOWNLOAD(EDE-Linther)
)


THEME(
	TITLE(eflat)
	IMG(eflat)
	Author: karijes

	ABOUT
	Flat world !?

	DOWNLOAD(eflat)
)


THEME(
	TITLE(eflat-dark)
	IMG(eflat-dark)
	Author: karijes

	ABOUT
	Flat world in black cloth.

	DOWNLOAD(eflat-dark)
)


THEME(
	TITLE(EdeOpus3)
	IMG(EdeOpus3)
	Author: EddieX

	ABOUT
	[[Port of the Opus3 pekwm style, original author: Ross 'b0se' Harvey.]]

	DOWNLOAD(EdeOpus3)
)


THEME(
	TITLE(EdeOpusBlue)
	IMG(EdeOpusBlue)
	Author: EddieX

	ABOUT
	Original author of Opus Blue: Ross 'b0se' Harvey.

	DOWNLOAD(EdeOpusBlue)
)


THEME(
	TITLE(EdeSmoke)
	IMG(EdeSmoke)
	Author: EddieX

	ABOUT
	[[Port of the OpenBox style Smoke, made by GaMMa.]]

	DOWNLOAD(EdeSmoke)
)


THEME(
	TITLE(microGUI)
	IMG(microGUI)
	Author: ???

	ABOUT
	[[Micro, micro, micro GUI!]]

	DOWNLOAD(microGUI)
)


THEME(
	TITLE(oOX)
	IMG(oOX)
	Author: Johan Wistrom

	ABOUT
	---

	DOWNLOAD(oOX)
)


THEME(
	TITLE(stx)
	IMG(stx)
	Author: STIBS

	ABOUT
	Theme for STX linux distribution.

	DOWNLOAD(stx)
)


THEME(
	TITLE(WrongCrack)
	IMG(WrongCrack)
	Author: karijes

	ABOUT
	Based on my favorite IceCrack2 theme for icewm. Credits goes to IceCrack2 author(s).
	Just to note that you must place titlebar height at 17px. More or less than that will create garbage.

	DOWNLOAD(WrongCrack)
)



THEME(
	TITLE(xp)
	IMG(xp)
	Author: ???

	ABOUT
	To bring XP in EDE.

	DOWNLOAD(xp)
)
